---
layout: page
---

<body id="page-top " class="index" style="background-image:url({{site.url}}/img/background/{{page.back_image}}); background-size: cover; width:100%; height:auto; background-repeat: no-repeat; position:relative" >

   <div id="particles-js"></div>
  <div id="test">  
    <header class="masthead" >
        <div class="container" >
            <section>
                <div class="container">
                    <div class="photo-card">
                        <div class="photo-background" style="background-image:url({{site.url}}/img/profile/{{page.profile_image}});"></div>
                        <div class="photo-details">
                            <h1 style="font-size:4rem">{{page.heading}}</h1>
                            <p>{{content}}</p></div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    
  </div>
    
        </body>