---
layout: page
---

<body id="page-top" class="index" style="background-image:url({{site.url}}/img/background/{{page.back_image}}); background-size: cover; width:100%; height:auto; background-repeat: no-repeat; position:relative ; background-attachment: fixed">

    
    

    <!-- Portfolio Grid Section -->
    
   <div id="particles-js"></div>
   <div id=>
    <section id="portfolio" class="bg-light-gray" style="background: black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Welcome To {{page.heading}}!</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                {% for post in site.categories.gallery %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </div>

        <!-- Portfolio Modals -->
 {% for post in site.categories.gallery %}
 <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
             <div class="lr">
                 <div class="rl">
                 </div>
             </div>
         </div>
         <div class="container">
             <div class="row">
                 <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                         <h2>{{ post.title }}</h2>
                         <hr class="star-primary">
                         <img src="/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                         <p>{{ post.description }}</p>
                         <ul class="list-inline item-details">
                             <li>Client:
                                 <strong>{{ post.client }}
                                 </strong>
                             </li>
                             <li>Date:
                                 <strong>{{ post.project-date }}
                                 </strong>
                             </li>
                             <li>Service:
                                 <strong>{{ post.category }}
                                 </strong>
                             </li>
                         </ul>
                         <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
{% endfor %}

      
        
    
        </body>